In [1]:
#  Assignment 5
## Sandeep Pal
## Student ID: 202091837
## Date coded: 17-3-2023.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_diamonds = pd.read_csv('diamonds.csv')

In [3]:
df_diamonds

,id,url,shape,price,carat,cut,colour,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
119100,10081678,https://www.brilliantearth.com//lab-diamonds-s...,Round,99040,5.71,Super Ideal,D,VVS2,GCAL,lab,2020-11-29 12-26 PM
119101,9521564,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,107330,15.32,Very Good,G,SI2,IGI,lab,2020-11-29 12-26 PM
119102,9896730,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,110110,10.05,Ideal,D,SI2,IGI,lab,2020-11-29 12-26 PM
119103,9756570,https://www.brilliantearth.com//lab-diamonds-s...,Oval,126030,10.33,Fair,D,VS2,IGI,lab,2020-11-29 12-26 PM
119104,9293400,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,141710,10.25,Good,E,VS1,IGI,lab,2020-11-29 12-26 PM

### Q1) The following heatmap shows the average carat weight of diamonds relative to their clarity and colour. An interactive dropdown menu allows for the data to be filtered around the origin of the diamonds. The “Natural” option filters to only naturally occurring diamonds, “Lab” filters to manufactured diamonds, and “All’ applies no filtering. In the example below, we can see that the heaviest diamonds are those with the poorest quality.
References: https://www.youtube.com/watch?v=d07MOXnNlyI \
https://stackoverflow.com/questions/34232073/seaborn-heatmap-y-axis-reverse-order \
https://stackoverflow.com/questions/20490274/how-to-reset-index-in-a-pandas-dataframe \
https://www.w3schools.com/python/pandas/ref_df_reindex.asp \
https://stackoverflow.com/questions/74412503/cannot-access-local-variable-a-where-it-is-not-associated-with-a-value-but \
Class Jupyter notes

In [4]:
#Create the interactive dropdown
@interact(channel=(['All'] + df_diamonds['type'].drop_duplicates().to_list()))

def f(channel):
    # Calling global as exception is being thrown
    global df_diamonds
    df = df_diamonds[df_diamonds.type == channel]
    #For all diamond types plot the heatmap
    if (channel == 'All'):
        df_diamonds1 = df_diamonds[['carat', 'colour', 'clarity']].groupby(['colour', 'clarity']).mean().reset_index()
        df_diamonds1 = df_diamonds1.pivot(index='colour', columns='clarity', values='carat')
        df_diamonds1 = df_diamonds1.reindex(['SI2', 'SI1', 'VS2', 'VS1','VVS2','VVS1','IF'], axis="columns")
        fig, ax = plt.subplots(figsize = (9,6))
        sns.heatmap(data=df_diamonds1, ax = ax,cmap = 'mako')
    #For natural diamond types plot the heatmap
    elif (channel == 'natural'):
        df_diamonds1 = df_diamonds[df_diamonds['type'] == 'natural']
        df_diamonds1 = df_diamonds1[['carat', 'colour', 'clarity']].groupby(['colour', 'clarity']).mean().reset_index()
        df_diamonds1 = df_diamonds1.pivot(index='colour', columns='clarity', values='carat')
        df_diamonds1 = df_diamonds1.reindex(['SI2', 'SI1', 'VS2', 'VS1','VVS2','VVS1','IF'], axis="columns")
        fig, ax = plt.subplots(figsize = (9,6))
        sns.heatmap(data=df_diamonds1, ax = ax,cmap = 'mako')
    #For lab diamond types plot the heatmap    
    elif (channel == 'lab'):
        df_diamonds1 = df_diamonds[df_diamonds['type'] == 'lab']
        df_diamonds1 = df_diamonds1[['carat', 'colour', 'clarity']].groupby(['colour', 'clarity']).mean().reset_index()
        df_diamonds1 = df_diamonds1.pivot(index='colour', columns='clarity', values='carat')
        df_diamonds1 = df_diamonds1.reindex(['SI2', 'SI1', 'VS2', 'VS1','VVS2','VVS1','IF'], axis="columns")
        fig, ax = plt.subplots(figsize = (9,6))
        sns.heatmap(data=df_diamonds1, ax = ax,cmap = 'mako')

interactive(children=(Dropdown(description='channel', options=('All', 'natural', 'lab'), value='All'), Output(…

### Q2) Re-create the interactive experience in the “Top baby names” visualization published by the UK Office for National Statistics, which can be found here: https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/livebirths/bulletins/babynamesenglandandwales/2020 This visualization shows the popularity rank of baby boy and girl names over the period from 1996 to 2020. Only the top 100 baby names in 2020 are included. The rank of each of the 100 names is represented with a faded grey line. There is a toggle selection to switch between baby boy names and baby girl names. Names that are specified in the text box will be highlighted.
References: 
https://www.pythonpool.com/suppress-warnings-in-python/ \
https://www.geeksforgeeks.org/change-the-legend-position-in-matplotlib/ \
https://matplotlib.org/3.1.0/api/markers_api.html \
https://www.statology.org/python-truth-value-of-series-is-ambiguous/ \
https://flexiple.com/python/python-uppercase/ \
https://stackoverflow.com/questions/56689278/how-to-create-a-toogle-button-to-show-and-clear-output-using-ipywidgets \
https://ipywidgets.readthedocs.io/en/stable/examples/Using%20Interact.html \
https://www.geeksforgeeks.org/python-spilt-a-sentence-into-list-of-words/ \
https://plainenglish.io/blog/interactive-visualizations-with-pandas-seaborn-and-ipywidgets-173e5d7d6a5e \
https://stackoverflow.com/questions/51762938/seaborn-color-palette-not-working-appropiate-with-lineplot \
https://stackoverflow.com/questions/58432235/changing-color-of-seaborn-plot-line \
https://www.codecademy.com/article/seaborn-design-ii \
https://stackoverflow.com/questions/65964660/how-to-sort-the-columns-of-a-seaborn-heatmap-using-custom-order \
https://www.colorhexa.com/d3d3d3 \
https://pandas.pydata.org/docs/reference/api/pandas.Index.get_indexer.html \
Class Jupyter notes

In [5]:
df_baby_names = pd.read_csv('names.csv')

In [6]:
df_baby_names

       rank       name  count  year   sex
0         1     OLIVIA   3640  2020  girl
1         2     AMELIA   3319  2020  girl
2         3       ISLA   2749  2020  girl
3         4        AVA   2679  2020  girl
4         5        MIA   2303  2020  girl
...     ...        ...    ...   ...   ...
50791   976  TOMMY-LEE     14  1996   boy
50792   976       TYLA     14  1996   boy
50793   976    WILFRED     14  1996   boy
50794   976     YOUSUF     14  1996   boy
50795   976       ZAYN     14  1996   boy

[50796 rows x 5 columns]

In [9]:
options = ['baby boy names', 'baby girl names']

def f(x,names):
    #names = names.tolist()
    #print(x)
    #Restricting to 6 Names in the plot as per the Question
    names = names.upper().split()[:6]
    #print(names)
    global df_baby_names
    #Get all the baby boy names 
    df_boys = df_baby_names[df_baby_names['sex'] == 'boy']
    #Get all baby girl names
    df_girl = df_baby_names[df_baby_names['sex'] == 'girl']
    #Getting 250 names as it's easy to pick 100 boys and 100 girls from list without any shortage due to different proportion of girl and boy names and sorting by count in descending order
    df_baby_names_top_200_in_2020 = df_baby_names[df_baby_names['year'] == 2020].sort_values(by='count', ascending=False)[:250]
    #Checking if the baby boy button is pressed or id the button and boy name is searched from the text box from the boy dataframe
    if ((x == 'baby boy names') or ((x == 'baby boy names') and (df_boys[df_boys['name'].isin(names)]))):
        #Getting top 100 baby names from the 250 list and sorting in descending order
        df_baby_names_top_100_in_2020_boy = df_baby_names_top_200_in_2020[df_baby_names_top_200_in_2020['sex'] == 'boy'].sort_values(by='count', ascending=False)[:100]
        #Add the top 100 names to the list and search the main list for these names in historical trend
        df_baby_names_top_100_in_2020_boy_names = df_baby_names_top_100_in_2020_boy.name.tolist()
        baby_boys_trend_on_top_100_list_over_the_years = df_boys[df_boys['name'].isin(df_baby_names_top_100_in_2020_boy_names)]
        baby_boys_trend_on_top_100_list_over_the_years
        #Search the textbox for search names in the boy dataframe
        df_boys_local = df_boys[df_boys['name'].isin(names)]
        #print(df_boys_local)
        ##Set the relevant parameters and plot the line plot
        #df_baby_names_top_200_in_2020
        fig, ax = plt.subplots(figsize=(7,5))
        #qualitative_colors = sns.color_palette("Greys", 3)
        qualitative_colors = ["#bababa"]
        custom_colours = ["#206095", "#004662", "#A8BD3A", "#27A0CC", "#118C7B", "#F66068"] #define your preference
        sns.lineplot(x = 'year', y = 'rank', data = baby_boys_trend_on_top_100_list_over_the_years, hue = 'name', palette=qualitative_colors, linewidth=1, errorbar=None, ax=ax,legend=None)
        #To retrieve the specific index by matching the name from the searchbox list and sorting based on the key parameter and plotting in the lineplot in same order
        df_boys_local = df_boys_local.sort_values(by=['name'], key=lambda x: pd.Index(names).get_indexer(x))
        sns.lineplot(x = 'year', y = 'rank', data = df_boys_local, hue = 'name',palette=custom_colours,linewidth=2, errorbar=None, ax=ax, marker="o")
        sns.despine(left=True)
        ax.legend(loc='lower right',framealpha=0,fontsize = 10)
        ax.set_xlabel('Year',fontsize=12)
        ax.grid(axis='y')
        ax.set_yticks([1, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
        ax.set_xticks([1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020])
        ax.set_title('Popularity ranking (1 being the most popular)',fontsize=12)
        ax.invert_yaxis()
    elif ((x == 'baby girl names') or ((x == 'baby girl names') and (df_girl[df_girl['name'].isin(names)]))):
        #Same logic repeted for girls as done for boys
        df_baby_names_top_100_in_2020_girl = df_baby_names_top_200_in_2020[df_baby_names_top_200_in_2020['sex'] == 'girl'].sort_values(by='count', ascending=False)[:100]
        df_baby_names_top_100_in_2020_girl_names = df_baby_names_top_100_in_2020_girl.name.tolist()
        baby_girls_trend_on_top_100_list_over_the_years = df_girl[df_girl['name'].isin(df_baby_names_top_100_in_2020_girl_names)]
        baby_girls_trend_on_top_100_list_over_the_years
        df_girl_local = df_girl[df_girl['name'].isin(names)]
        #print(df_girl_local)  
        fig, ax = plt.subplots(figsize=(7,5))
        #qualitative_colors = sns.color_palette("Greys", 3)
        qualitative_colors = ["#bababa"]
        custom_colours = ["#206095", "#004662", "#A8BD3A", "#27A0CC", "#118C7B", "#F66068"] #define your preference
        #sns.lineplot(x = 'year', y = 'rank', data = baby_boys_trend_on_top_100_list_over_the_years, hue = 'name', palette=qualitative_colors, linewidth=1.5, errorbar=None, ax=ax,legend=None)
        sns.lineplot(x = 'year', y = 'rank', data = baby_girls_trend_on_top_100_list_over_the_years, hue = 'name', palette=qualitative_colors, linewidth=1.5, errorbar=None, ax=ax,legend=None)
        df_girl_local = df_girl_local.sort_values(by=['name'], key=lambda x: pd.Index(names).get_indexer(x))
        sns.lineplot(x = 'year', y = 'rank', data = df_girl_local, hue = 'name',palette=custom_colours,linewidth=2, errorbar=None, ax=ax,marker = "o")
        sns.despine(left=True)
        ax.legend(loc='lower right', framealpha=0,fontsize=10)
        ax.set_xlabel('Year',fontsize=12)
        ax.grid(axis='y')
        ax.set_yticks([1, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
        ax.set_xticks([1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020])
        ax.set_title('Popularity ranking (1 being the most popular)',fontsize=12)
        ax.invert_yaxis()
#Setting and calling Toggle button and search textbox addind space in description to remove default variable name
interact(f, x=widgets.ToggleButtons(options=options,description=" "),names = "");

interactive(children=(ToggleButtons(description=' ', options=('baby boy names', 'baby girl names'), value='bab…